* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.all-callers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 25px;
}

.input-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 10px;
}

.enter, 
.exit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

