* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container, 
.attendent {
    width: 600px;
    margin: 50px auto;
}

.delete {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-bottom: 10px;
}